*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex; justify-content: center; align-items: center; min-height: 100vh;
}
.homepage{
    margin: 100px auto; width: 90%; 
}
.center {
    text-align: center;
    border: 3px;
  }
.text{
    margin-left: 50px; margin-top: 10px;
}
.text h3{
    font-size: 18px; color: #DF6951;margin-left: 20px;
}
.text h2{
    font-size: 50px; color:#181E4B ; line-height: 64.5px;
}
.images { 
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 20px; 
    padding: 20px; 
} 

.photo { 
    width: 150px; 
    padding: 0 20px; 
    height: 100px; 
} 

.photo img { 
    width: 100%; 
    height: 100%; 
}