.about-tour-plans-section{
    display: flex;
    justify-content: center;
  
}
.about-tour-plans{
    display: flex;
}
.trend-shell{
    position: absolute;
    right: 0;
}
.about-trend-img-container{
    display: flex;
    max-width: 556px;
}
.about-trend-img-container > img{
 width:100%;
}
.about-tour-plans{
    display: flex;
    max-width: 1350px;
    justify-content: space-between;
    flex: 1;
}
.text-and-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.trend-container{
    max-width: 579px;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.group p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: bold;
}
.trend-container h2{
    color: #DF6951;
}
.trend-container h3{
   font-size: 55px;
}