.honeymoon-specials-container{ 
    display: flex;
    width: 1404px;
    height: 745.48px;
    top: 1937px;
    left: 196px;
}

.hs-image{
    width: 654.4px; 
    height: 745.48px; 
    top: 1937px; 
    left: 196px;

}
.hs-title-box{
    margin: 0 auto;
    padding-top: 185px;
    padding-left: 50px;
    width: 583px;
    height: 380.42px;
    top: 2109px;
    left: 1017px;
    

}
.hs-subtitle{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.1em;
    color:  rgba(223, 105, 81, 1);
}
.hs-title{
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    line-height: 71.04px;
    color: rgba(24,30,75,1);

}
.hs-paragraph{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
}
.hs-button{
    margin-top: 25px;
    padding: 0px 36.57px 9.4px 0px;
    gap: 10.45px;
    background-color: rgba(223, 105, 81, 1);
    border-radius: 10px;
    width: 176.56px;
    height: 56.42px;
    top: 2433px;
    left: 1017px;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    
}   
.hs-text{
    width: 129px;
    height: 25px;
    font-family: Poppins;
    font-weight: 600px;
    font-size: 16.72px;
    line-height: 40px;
    padding: 0 auto;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    
}