.tp-container {
  max-width: 1350px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #181e4b;
}
.tp-bottom-container {
  display: flex;
}
.tp-details-container {
  padding: 40px;
  width: 60%;
}
.tp-details-title {
  font-family: "Volkhov", sans-serif;
  font-size: 30px;
}
.tp-detail {
  display: flex;
  gap: 18px;
}
.tp-detail-number {
  display: block;
  background-color: #df6951;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 6px;
}
.tp-detail-title {
  font-size: 20px;
  font-weight: 700;
}
.tp-detail-description {
  line-height: 24px;
  margin: 10px 0;
}
