
.package-location-hero {
    background-image: url(../images/location/tour-location-homepage.png);
    height: 766px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.location-heading-hero{
    padding: 100px;
}
.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    z-index: 150;
    gap: 20px;
    margin: 0 20px;
}
.nav-links-box {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    color: #fff;
}
.hero-nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}
.contact-link {
    background-color: #df6951;
    padding: 20px 27px;
    border-radius: 10px;
    cursor: pointer;
}
.location-hero-h4 {
    color: #ffefec;
    font-family: "Poppins", sans-serif;
    font-size: 18;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-align: center;
}
.location-hero-h1 {
    color: #fff;
    font-family: "Yesteryear", cursive;
    font-size: 158px;
    font-weight: 400;
    line-height: 215px;
    text-align: center;
}
.hero-nav-dropdown {
    width: 230px;
    height: 190px;
    background-image: url(../images/popup-cloud.png);
    background-repeat: no-repeat;
    padding: 40px 15px;
    position: absolute;
    display: none;
}
.hamburger-icon {
    cursor: pointer;
    display: none;
}
.package-location {
    max-width: 1350px;
    margin: auto;
        transform: translateY(-50px);
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.location-page-container {
    display: flex;
    gap: 35px;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 4px 48px 12px rgba(0, 0, 0, 0.09);
    clip-path: inset(0px -48px -48px -48px);
}
.package-location-navbar-box {
    cursor:pointer;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
}
.location-page-box{
    height: 1630px;
}
.package-location-navbar > div > a {
    font-size: 12px;
    color: #343434;
    font-family: "Poppins";
    font-weight: 700;
    letter-spacing: 2px;
}
.package-location-navbar > div > img {
    object-fit: contain;
    padding: 0 15px;
}
.package-location-navbar {
    display: flex;
    height: 100px;
    text-align: center;
}
.location-box-h3{
    color: #181e4b;
    font-family: "Volkhov", sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.location-box-p{
   color: #181e4b;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    padding: 30px 0; 
}
.location-form {
    padding: 30px;
    background: #ededed;
    height: fit-content;
}
.form-box-h2 {
    color: #181e4b;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    font-family: "Volkhov", sans-serif;
}
.form-box-p {
    color: #000;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}
.form-box-input {
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    font-family: "Poppins";
    line-height: 26px;
    font-weight: 400;
    outline: none;
}
.form-input-box {
    height: 590px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form-date-box{
    width: 100%;
}
.form-input-box > div {
    background-color: #fff;
    width: 359px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}
.form-box-btn {
    width: 176.5px;
    padding: 16px 0;
    background-color: #df6951;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    border: none;
    color: #fff;
    cursor: pointer;
}
.form-buttons-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.location-img-1 {
    position: absolute;
    right: 0px;
    bottom: 100px;
    z-index: -1;
}
.location-img-2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}
.hero-nav-link{
    font-size: 20px;
}
.hero-nav-dropdown>a{
    line-height:35px;
}
.nav-links-box>a{
    font-size: 20px;
}
@media (max-width : 1275px){
    .package-location-navbar {
        width:100%

    }
    .package-location-navbar-box {
        padding: 0 8px;
    }
    .location-page-box{
        height: 1000px;
    }
    .location-page-container{
        flex-direction: column;
        align-items: center;
    }
    .location-img-1{
        width: 350px;
        bottom: 230px;
    }
    .location-form{
        background-color: rgba(237, 237, 237, 0.7);
        width: 100%;
    }
    .form-input-box > div{
        width: 300px;
    }
    .form-date-box{
        width: 300px;
    }
    .location-page-box{
        width: 100%;
    }
    .location-box-gps{
        width: 100%;
    }
    .location-img-1 {
        display: none;
    }
    .location-img-2 {
        display: none;
    }
}
@media (max-width : 865px) {
    .package-location-navbar-box {
        flex-direction: column;
    }
}
@media (max-width : 700px) {
    .location-hero-h1{
        font-size: 100px;
        line-height: 150px;
    }
}
@media (max-width : 910px) {
    .form-input-box > div{
        width: 100%;
    }
    .form-date-box{
        width: 100%;
    }
}