.package-detail-page-tour-gallery {
    /* background-color: gray; */
    /* position: relative; */
}

.hero-section {
    height: 100vh;
    background: url("../images/location/tour-location-homepage.png") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hes-script {
    margin: 205px auto;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.s-subheading {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.1em;
}

.s-heading {
    font-family: "Yesteryear", sans-serif;
    font-size: 157.43px;
    font-weight: 400;
    line-height: 223.68px;
    margin-top: -20px;
}

.tour-gallery-container {
    max-width: 1350px;
    height: 1800px; 
    margin: 0px auto;
    transform: translateY(-79px);
    position: relative;
    box-shadow: 0px 4px 48px 12px rgba(0, 0, 0, 0.09);
}

.tg-secondary-nav-bar {
    background: rgba(248, 248, 248, 1);
    display: flex;
    justify-content: space-between;
}

.tg-secondary-nav-bar .nav {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.tg-secondary-nav-bar .nav:hover {
    box-shadow: 0px 4px 48px 12px rgba(0, 0, 0, 0.09);
}

.tg-secondary-nav-bar .nav img {
    width: 26px;
    height: 26px;
}

.tg-secondary-nav-bar .nav p {
    padding-left: 15px;
}

.tg-secondary-nav-bar .gallery {
    background-color: rgba(255, 255, 255, 1);
}

.tg-image-and-information {
    display:flex;
    margin-top: 40px;
    padding: 0px 40px;
}

.ii-image-gallery {
    display: flex;
    flex-direction: column;
}

.ig-images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: auto; */
    grid-auto-rows: auto;
}

.ig-images div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.ig-images div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.i-normal {
    grid-column: 1 / span 1;
}

.i-normal4 {
    grid-column: 3 / span 1;
}

.i-vertical {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

.i-horizontal-first {
    grid-column: 1 /span 2;
}

.i-horizontal-last {
    grid-column: 1 /span 3;
}

.ig-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px auto 0px auto; 
}

.ig-footer img {
    max-width: 100%;
    max-height: 100%;
}

.ig-footer p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ii-information {
    width: 481px;
    height: 977px;
    margin-left: 30px;
    padding: 30px 40px;
    background-color: rgba(237, 237, 237, 1);
    text-align: center;
}

.i-title {
    font-family: "Volkhov", sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.18px;
    text-align: center;
    color: rgba(24, 30, 75, 1);
}

.i-script {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 10px auto 20px auto;
    color: rgba(0, 0, 0, 1);
}

.ii-information .i-whole-input{
    position: relative;
}

.ii-information .i-whole-input img {
    position: absolute;
    transform: translate(100%, 180%);
}

.ii-information .i-whole-input input { 
    display: inline;
    border: none;
    margin-top: 10px;
    padding: 25px 15px;
    width: 359px;
    height: 76px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.26);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 35px;
}

.ii-information .button {
    display: block;
    border: none;
    margin: 20px auto 0px auto;
    padding: 16px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16.72px;
    font-weight: 600;
    line-height: 25.07px;
    background-color: rgba(223, 105, 81, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 176px;
}

/* images are inside container div */
.tg-plant {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.tg-vacation {
    position: absolute;
    right: 20px;
    bottom: 7.4%;
    z-index: -1;
}

/* images are inside homepage div */
/* .tg-plant {
    position: absolute;
    left: 5.6%;
    bottom: 3%;
    z-index: -1;
}

.tg-vacation {
    position: absolute;
    right: 7.5%;
    bottom: 8%;
    z-index: -1;
} */

@media (max-width: 1050px) {
    .tg-secondary-nav-bar .nav {
        padding: 30px;
        font-size: 16px;
    }
    
    .tg-secondary-nav-bar .nav p {
        padding-left: 10px;
    }
}

@media (max-width: 950px) {
    .tg-image-and-information {
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .ig-footer {
        margin: 25px auto 25px auto; 
    }
    
    .ig-footer img {
        max-width: 50%;
        max-height: 50%;
    }
    
    .ig-footer p {
        font-size: 12px;
        line-height: 24px;
    }

    .ii-information {
        margin: 0px auto;
    }
}

@media (max-width: 800px) {
    .tg-secondary-nav-bar .nav {
        padding: 20px;
        font-size: 14px;
    }
    
    .tg-secondary-nav-bar .nav p {
        padding-left: 6px;
    }
}

@media (max-width: 810px) {
    .tour-gallery-container {
        transform: translateY(-60px);
    }

    .s-heading {
        font-size: 125px;
        line-height: 200px;
    }
}

@media (max-width: 646px) {
    .tg-secondary-nav-bar .nav {
        padding: 16px;
        font-size: 14px;
    }
    
    .tg-secondary-nav-bar .nav img {
        width: 16px;
        height: 16px;
    } 
    
    .tg-secondary-nav-bar .nav p {
        padding-left: 6px;
    }
}

@media (max-width: 580px) {
    .s-subheading {
        font-size: 13px;
    }

    .s-heading {
        font-size: 90px;
        line-height: 150px;
    }
    .tg-secondary-nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .tg-secondary-nav-bar .nav img {
        width: 24px;
        height: 24px;
    } 

    .tg-secondary-nav-bar .nav {
        padding: 8px 16px;
        font-size: 14px;
    }

    .tg-secondary-nav-bar .nav p {
        padding-left: 10px;
    }
}

