.package-detail-page-tour-gallery {
    /* background-color: gray; */
}

.tour-gallery-container {
    /* background-color: goldenrod; */
    max-width: 1350px;
    margin: 30px auto;
    /* display: flex; */
    /* position: relative; */
    position: relative;
}

/* .tg-header {
    max-width: 1350px;
    max-height: 768px;
} */

.tg-secondary-nav-bar {
    background-color: rgb(80, 182, 182);
    /* background: rgba(248, 248, 248, 1); */
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 40px;
    /* position: absolute; */
}

.tg-secondary-nav-bar div {

}

.tg-image-and-information {
    display:flex;
    /* position: absolute; */
}

.ii-image-gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto;
}

.ii-image-gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.ii-image-gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ig-normal {
    grid-column: 1 / span 1;
}

.ig-normal4 {
    grid-column: 3 / span 1;
}

.ig-vertical {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

.ig-horizontal-first {
    grid-column: 1 /span 2;
}

.ig-horizontal-last {
    grid-column: 1 /span 3;
}

/* .ig-footer {
    display: block;
} */

.ii-information {
    max-width: 481px;
    max-height: 977px;
    margin-left: 30px;
    padding: 30px 40px;
    background-color: rgba(237, 237, 237, 1);
    text-align: center;
}

.i-title {
    font-family: Volkhov, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.18px;
    text-align: center;
    color: rgba(24, 30, 75, 1);
}

.i-script {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 10px auto;
    color: rgba(0, 0, 0, 1);
}

.i-inputs div input { 
    display: inline;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    margin-top: 10px;
    padding: 25px 15px;
    width: 359px;
}

.in-name [type=text] {
    background-image: url('images/location/loca-input-user.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-name [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.in-mail [type=text] {
    background-image: url('images/location/loca-input-email.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-mail [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.in-phone [type=text] {
    background-image: url('images/location/loca-input-phone.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-phone [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.in-date [type=text] {
    background-image: url('images/location/location-input-date.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-date [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.in-ticket [type=text] {
    background-image: url('images/location/loca-input-tag.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-ticket [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.in-message [type=text] {
    background-image: url('images/location/loca-input-masage.png');
    background-position: 28px 27px; 
    background-repeat: no-repeat;
} 

.in-message [placeholder] {
    color: rgba(0, 0, 0, 0.26);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 60px;
}

.i-inputs button {
    display: inline;
    border: none;
    margin-top: 20px;
    padding: 16px 10px;
    font-family: Poppins;
    font-size: 16.72px;
    font-weight: 600;
    line-height: 25.07px;
    background-color: rgba(223, 105, 81, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 176px;
}

.tg-plant {
    position: absolute;
    left: 0%;
    z-index: -1;
}

.tg-vacation {
    position: absolute;
    right: 5%;
    bottom: -25%;
    z-index: -1;
}